<div class="list">
    <div class="date">
        <span><%= new Date().getDate() %> <%= locals.thismonth %> <%= locals.thisyear %>, <%= locals.thisday %></span>
    </div>
       
<div class="tasks">
    <% if (locals.task) { %>
            <div class="task">
                <span>Add task</span>
            </div>
    <% } else { %>
        <% locals.tasklist.forEach(element => { %> 
            <!-- <form action="/delete" method="POST"> -->
                <div class="task">
                    <div class="description">
                            <input type="checkbox" name="checkbox">
                            <p><%= element.content %></p>
                    </div>
                    <!-- <div class="button">
                            <input type="submit" value="Delete" class="deleteButton">
                    </div> -->
                </div>
            <!-- </form> -->
        <% }); %>
    <% } %>
        <!-- <form action="/delete-all" method="POST">
            <input type="submit" value="Delete All" class="deleteAllButton">
        </form> -->
</div>

<form action="/" method="POST">
        <div class="add">
            <input type="submit" value="+" class="addButton">
            <input type="text" name="addtask" id="create" placeholder="Create a new task" class="create">
        </div>   
</form>

</div>