<form action="/submit" method="POST">
    <div class="list">
        <div class="date">
            <span><%= new Date().getDate() %> <%= locals.thismonth %> <%= locals.thisyear %>, <%= locals.thisday %></span>
        </div>
        <div class="tasks">
            <% if (locals.newtext) { %>
                <div class="task">
                    <input type="checkbox" name="checkbox" >
                    <p><%= newtext %></p>
                </div>
            <% } else { %>
                    <div class="task">
                        <span>Add task</span>
                    </div>
            <% } %> 
        </div>
        <div class="add">
            <input type="submit" value="+" class="addButton">
            <input type="text" name="addtask" id="create" placeholder="Create a new task" class="create">
        </div>
    </div>
</form>